Source: ros-humble-clearbot-px4-msgs
Section: misc
Priority: optional
Maintainer: Utkarsh Goel <utkarsh@clearbot.org>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-common <!nocheck>, ros-humble-builtin-interfaces, ros-humble-ros-environment, ros-humble-rosidl-default-generators
Homepage:
Standards-Version: 3.9.2

Package: ros-humble-clearbot-px4-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-builtin-interfaces, ros-humble-ros-environment, ros-humble-rosidl-default-runtime
Description: Package with the ROS-equivalent of PX4 uORB msgs
