name: Build package

# CI runs over all branches that do not contain 'ros1' in the name
on:
  push:
  schedule:
    - cron: '0 0 * * *'

defaults:
  run:
    shell: bash

jobs:
  focal:
    name: "Build on Ubuntu Focal"
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: ros-tooling/setup-ros@v0.6
        with:
          required-ros-distributions: foxy
      - uses: ros-tooling/action-ros-ci@v0.3
        with:
          package-name: px4_msgs
          target-ros2-distro: foxy
  jammy:
    name: "Build on Ubuntu Jammy"
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        ros2_distro: [humble, rolling]
    steps:
      - uses: actions/checkout@v4
      - uses: ros-tooling/setup-ros@v0.6
        with:
          required-ros-distributions: ${{ matrix.ros2_distro }}
      - uses: ros-tooling/action-ros-ci@v0.3
        with:
          package-name: px4_msgs
          target-ros2-distro: ${{ matrix.ros2_distro }}